{{ define "file" }}
<html>
  {{ template "head" . }}
  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      <p>{{ .path }}</p>
      <div class="file-view{{ if .showcase }} has-showcase{{ end }}">
      <div class="file-code">
      {{ if .hidden }}
      <p class="diff-truncated">file contents hidden</p>
      {{ else }}
      {{if .chroma }}
      <div class="chroma-file-wrapper">
      {{ .content }}
      </div>
      {{else}}
      <div class="file-wrapper">
      <table>
        <tbody><tr>
            <td class="line-numbers">
              <pre>
            {{- range .linecount }}
 <a id="L{{ . }}" href="#L{{ . }}">{{ . }}</a>
            {{- end -}}
              </pre>
            </td>
            <td class="file-content">
              <pre>
             {{- .content -}}
              </pre>
            </td>
        </tbody></tr>
      </table>
      </div>
      {{end}}
      {{ if .truncated }}
      <p class="diff-truncated">&hellip; preview truncated</p>
      {{ end }}
      {{ end }}
      </div>
      {{ if .showcase }}
      <aside class="file-showcase">
        {{ template "showcase" . }}
      </aside>
      {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
