{{ define "log" }}
<html>
{{ template "head" . }}

  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      {{ $repo := .name }}
      <table class="log-table">
        <thead>
          <tr><th>commit</th><th>age</th><th>files</th><th>lines</th></tr>
        </thead>
        <tbody>
          {{ range .commits }}
          <tr>
            <td class="log-msg"><a href="/{{ $repo }}/commit/{{ .Hash }}">{{ .Message }}</a>
              {{- range .Decor }}
              <span class="deco deco-{{ .Type }}">{{ .Name }}</span>
              {{- end -}}
            </td>
            <td class="log-age">{{ .Age }}</td>
            <td class="log-files">{{ .Files }}</td>
            <td class="log-lines"><span class="diff-add">+{{ .Add }}</span> <span class="diff-del">&minus;{{ .Del }}</span></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
